In [89]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame
import random

In [90]:
series1= Series([9,8,7,6,5])
series1

0    9
1    8
2    7
3    6
4    5
dtype: int64

In [91]:
series1.values

array([9, 8, 7, 6, 5], dtype=int64)

In [92]:
series1.index

RangeIndex(start=0, stop=5, step=1)

In [93]:
Country_pop=Series([1439323776,1380004385,331002651,273523615,220892340],
            index=['China','India','United States','Indonesia','Pakistan'] )

In [94]:
Country_pop

China            1439323776
India            1380004385
United States     331002651
Indonesia         273523615
Pakistan          220892340
dtype: int64

In [95]:
Country_pop[Country_pop < 1000000000]

United States    331002651
Indonesia        273523615
Pakistan         220892340
dtype: int64

In [102]:
Country_pop_dic=Country_pop.to_dict()
Country_pop_dic

{'China': 1439323776,
 'India': 1380004385,
 'United States': 331002651,
 'Indonesia': 273523615,
 'Pakistan': 220892340}

In [103]:
Country_pop

China            1439323776
India            1380004385
United States     331002651
Indonesia         273523615
Pakistan          220892340
dtype: int64

In [104]:
Country=['China','India','United States','Indoesia','Pakistan','Brazil','Nigeria']

In [108]:
series2=Series(Country_pop_dic,index=Country)

In [109]:
series2

China            1.439324e+09
India            1.380004e+09
United States    3.310027e+08
Indoesia                  NaN
Pakistan         2.208923e+08
Brazil                    NaN
Nigeria                   NaN
dtype: float64

In [111]:
pd.notnull(series2)

China             True
India             True
United States     True
Indoesia         False
Pakistan          True
Brazil           False
Nigeria          False
dtype: bool

In [112]:
series2.name="Countries Population"

In [113]:
series2

China            1.439324e+09
India            1.380004e+09
United States    3.310027e+08
Indoesia                  NaN
Pakistan         2.208923e+08
Brazil                    NaN
Nigeria                   NaN
Name: Countries Population, dtype: float64

In [119]:
#DataFrames

In [121]:
df=pd.read_csv('world_happiness_2015.csv')

In [123]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [124]:
df.head

<bound method NDFrame.head of          Country                           Region  ...  Generosity  Dystopia Residual
0    Switzerland                   Western Europe  ...     0.29678            2.51738
1        Iceland                   Western Europe  ...     0.43630            2.70201
2        Denmark                   Western Europe  ...     0.34139            2.49204
3         Norway                   Western Europe  ...     0.34699            2.46531
4         Canada                    North America  ...     0.45811            2.45176
..           ...                              ...  ...         ...                ...
153       Rwanda               Sub-Saharan Africa  ...     0.22628            0.67042
154        Benin               Sub-Saharan Africa  ...     0.18260            1.63328
155        Syria  Middle East and Northern Africa  ...     0.47179            0.32858
156      Burundi               Sub-Saharan Africa  ...     0.19727            1.83302
157         Togo               Sub-Saharan Africa  ...     0.16681            1.56726

[158 rows x 12 columns]>

In [127]:
alt_df=DataFrame(df,columns=["Happiness Rank","Country","Region","Happiness Score","Economy (GDP per Capita)"])

In [128]:
alt_df

     Happiness Rank      Country                           Region  Happiness Score  Economy (GDP per Capita)
0                 1  Switzerland                   Western Europe            7.587                   1.39651
1                 2      Iceland                   Western Europe            7.561                   1.30232
2                 3      Denmark                   Western Europe            7.527                   1.32548
3                 4       Norway                   Western Europe            7.522                   1.45900
4                 5       Canada                    North America            7.427                   1.32629
..              ...          ...                              ...              ...                       ...
153             154       Rwanda               Sub-Saharan Africa            3.465                   0.22208
154             155        Benin               Sub-Saharan Africa            3.340                   0.28665
155             156        Syria  Middle East and Northern Africa            3.006                   0.66320
156             157      Burundi               Sub-Saharan Africa            2.905                   0.01530
157             158         Togo               Sub-Saharan Africa            2.839                   0.20868

[158 rows x 5 columns]

In [136]:
rows_oman = df.loc[df["Country"] == "Oman"]

In [137]:
rows_oman

   Country                           Region  ...  Generosity  Dystopia Residual
21    Oman  Middle East and Northern Africa  ...     0.21542            2.47489

[1 rows x 12 columns]